body {
   background: url("../img/photo-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    font-family: 'Acme', sans-serif;
    font-size: 33px;
   /*
   background: #334d50;
   background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);
   background: linear-gradient(to right, #cbcaa5, #334d50); 
color: rgb(70, 116, 80);*/

}


#titulo {
   font-size: 90px;
   font-family: serif;
   color: red;
}


#contentWrap {
   display: none;
}

.error {
   color: red;
}

.whisper {
   color: blue;
   font-style: italic;
}
